<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- The Email of the username for which the OOF should be set-->
  <add key="UserEmail" value="user@email.com" />

  <!-- Prints debug information. Only useful if there is an issue (indeed, this stops the application from running
         quietly). Only set True if you know what you're doing!-->
  <add key="DebugModeEnabled" value="False" />

  <!-- startDay and endDay define the range of days for which the OOF should be set. The codes are the first two
         letters of the given weekday e.g. Mo, Tu etc.
         If only one day is required, both values should be the same. -->
  <add key="StartDay" value="Fr" />
  <add key="EndDay" value="Fr" />

  <!-- Sets the start and end times in which the OOF is enabled and disabled. This should be set to the
         time when you usually leave -->
  <add key="BoundaryTime" value="17:30:00" />

  <!-- The names of the files which describe the internal \ external replies to send during the OOF window.
         Both relative and full file paths are supported (relative paths are relative to the application). -->
  <add key="InternalReplyFilename" value="InternalReply.html" />
  <add key="ExternalReplyFilename" value="ExternalReply.html" />

  <!-- Defines which external recipients should receive an OOF reply:
         * "None"  - Don't send external replies
         * "Known" - Send only to known external recipients
         * "All"   - Send to all external recipients (known or unknown) -->
  <add key="SendToExternalRecipients" value="All" />
</appSettings>