<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="OutOfOfficeSettings" requirePermission="false" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <OutOfOfficeSettings>
    <add key="userEmail" value="usman.iqbal@softwire.com" />
    <!--The DaysToInclude key expects a set of two-letter codes depicting what days you *don't* work per week
        The codes are the first two letters of the given weekday (weekends are not supported). e.g. MoTu-->
    <add key="daysToInclude" value="Fr" />
    <add key="debugModeEnabled" value="True" />
  </OutOfOfficeSettings>
</configuration>