<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="OutOfOfficeSettings" requirePermission="false" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <OutOfOfficeSettings>
    <!-- The Email of the username for which the OOF should be set-->
    <add key="userEmail" value="user@email.com" />
    
    <!-- Prints debug information. Only useful if there is an issue (indeed, this stops the application from running
         quietly). Only set True if you know what you're doing!-->
    <add key="debugModeEnabled" value="False" />

    <!-- startDay and endDay define the range of days for which the OOF should be set. The codes are the first two
         letters of the given weekday e.g. Mo, Tu etc.
         If only one day is required, both values should be the same. -->
    <add key="startDay" value="Fr" />
    <add key="endDay" value="Fr" />

    <!-- Sets the start and end times in which the OOF is enabled and disabled. This should be set to the
         time when you usually leave -->
    <add key="boundaryTime" value="17:30:00" />

    <!-- The internal and external reply to send during the OOF -->
    <add key="internalReply" value="Internal Reply" />
    <add key="externalReply" value="External Reply" />
    
    <!-- Defines which external recipients should receive an OOF reply:
         * "None"  - Don't send external replies
         * "Known" - Send only to known external recipients
         * "All"   - Send to all external recipients (known or unknown) -->
    <add key="sendToExternalRecipients" value="All" />
  </OutOfOfficeSettings>
</configuration>